*{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:white;
  background-color: black;
}
body {
  background-color: black;
  margin: 20px; ;
}